@layer {
    b {
        font-weight: var(--fw-bold);
    }

    blockquote {
        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }
    }
}
