@layer {
    [data-text-preset] {
        font-family: var(--ff-epilogue);
    }

    [data-text-preset="1"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-1);
        letter-spacing: var(--ls-1);
        line-height: var(--lh-110);
    }

    [data-text-preset="2"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-2);
        letter-spacing: var(--ls-2);
        line-height: var(--lh-120);
    }

    [data-text-preset="3"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-3);
        letter-spacing: var(--ls-3);
        line-height: var(--lh-160);
    }

    [data-text-preset="4"] {
        font-weight: var(--fw-bold);
        font-size: var(--fs-4);
        letter-spacing: var(--ls-4);
        line-height: var(--lh-160);
        text-transform: uppercase;
    }

    [data-text-preset="5"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-5);
        letter-spacing: var(--ls-5);
        line-height: var(--lh-160);
    }

    [data-text-preset="6"] {
        font-weight: var(--fw-bold);
        font-size: var(--fs-6);
        letter-spacing: var(--ls-6);
        line-height: var(--lh-150);
    }

    [data-text-preset="7"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-7);
        letter-spacing: var(--ls-7);
        line-height: var(--lh-150);
        text-transform: uppercase;
    }

    [data-text-preset="8"] {
        font-weight: var(--fw-regular);
        font-size: var(--fs-8);
        letter-spacing: var(--ls-8);
        line-height: var(--lh-160);
    }
}
